@media (max-width: 1440px){
/* -----------portada------------------------- */
    .portada{
        .portada_info{

            h1{
                font-size: 60px;
                margin-bottom: 70px;
            }

            p{
                font-size: 28px;
                letter-spacing: 4px;
                line-height: 1.5;
                margin-bottom: 40px;
            }
        }
    }

/* ---------------cards especial/menu----------------- */
    .titulo-especial{
        h2{
            font-size: 30px;
        }
    }

    .cards{

        gap: 100px;
        
        .card{



        }
    }

}



@media (max-width: 360px){
    
    
    
    
    
    
    
    
    .portada{
        .portada_info{

            h1{
                font-size: 60px;
                margin-bottom: 100px;
            }

            p{
                font-size: 28px;
                letter-spacing: 4px;
                line-height: 1.5;
                margin-bottom: 100px;
            }
    
        }

    }

    
}