@media (max-width: 1450px){
/* -----------portada------------------------- */
    .portada{

        .portada_info{

            h1{
                font-size: 60px;
                margin-bottom: 70px;
            }

            p{
                font-size: 28px;
                letter-spacing: 4px;
                line-height: 1.5;
                margin-bottom: 40px;
            }
        }
    }

/* ---------------cards especial/menu----------------- */
    .titulo-especial{
        h2{
            font-size: 40px;
        }
    }

    .cards{
        gap: 38px;

        .card{

            .back{

                .footer-card{

                    a{

                        &:hover{
                            letter-spacing: none;
                        }
                    }
                }
            }

        }
    }
/* -------------ubicacion--------------- */
    .ubicacion-conteiner{

        margin-top: 10px;

        #ubicacion{

            .googlemap{

            width: 500px;
            height: 500px;

            }
        }

    }

    .carrusel{
        gap: 50px;
        margin-bottom: 100px;
        margin-top: 100px;
    }

}


@media (max-width: 1280px){

    /* -----------portada------------------------- */
    .portada{

        .imagen-principal{

            .foto_index{
                width: 100%;
                height: 900px;
                object-fit: cover;
            }

        }

        .portada_info{

            h1{
                font-size: 60px;
                margin-bottom: 70px;
            }

            p{
                font-size: 1.7rem;
                letter-spacing: 4px;
                line-height: 1.5;
                margin-bottom: 40px;
            }
        }
    }

/* ---------------cards especial/menu----------------- */
    .cards{

        gap: 45px;

        .cardito{

            width: 200px;
            height: 350px;
            
            .back{

                h3{

                    font-size: 20px;
                margin-top: 20px;
                letter-spacing: 2px; 
                }

                p{
                    letter-spacing: none;
                }

                .footer-card{

                    height: 50px;
                    line-height: 60px;
                    a{

                        font-size: 18px;

                        &:hover{
                            letter-spacing: none;
                        }
                    }
                }
            }

        }
    }

    .ubicacion-conteiner{

        #ubicacion{

            .googlemap{

            width: 500px;
            height: 600px;

            }
        }

    }

    .carrusel{
        gap: 50px;
        margin-bottom: 100px;
        margin-top: 100px;
    }



}

.antiguo{

    img{
        position: relative;
        width: 100%;
        height: 750px;
        object-fit: cover;
    }
}



/* ---------responsive 360---------------------- */


@media (max-width: 800px){


/* ----------------navegacion--------------------- */

.body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
    .navegacion{
        height: 80px;
        line-height: 30px; 
        // align-items: baseline;

        .bx-menu{
            color: #E2FFE5;
            font-size: 40px;
            // background-color: #fff;
        }

        label{
            display: block;
            margin-right: 10px;
            // margin-top: 14px;


        }

       .logo{
            // background-color: #e5a716;
            height: 80px;
            line-height: 10px;
            
            .nav_logo{
                display: inline-block;
                width: 50px;
                }

            .titulo_logo{
                display: inline-block;
                font-size: 24px;
                margin-bottom: 35px;
                }
        }

       .navbarmenu{
            display: none;
            position: relative;
            background-color: #000;
        }


        #check_menu:checked ~ .navbarmenu{
            background-color: #E2FFE5 ;
            width: 60%;
            height: 100vh;
            position: absolute;
            right: 0;
            top: 80px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            box-shadow: 0  12px 12px;
        }
    

        .navbarmenu{

        ul{
            list-style-type: none;
            display: block;
            position: absolute ;
            padding: 0;
            
                li{ 
                    height: 20px;
                    padding-top: 0px;
                    position: relative;
                    padding-inline-start: 10px;
                    border-radius: 0;
                    display: grid;
                    text-align: left;
                    border-bottom: 2px solid #354B9A;
                    width: 100%;

                    a{
                        color: #354B9A;
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }  
        }
    }

/* -------------------portada------------- */
    .portada{
        
        display: block;
/* ----------galeria-------------- */
            h1{
                font-size: 34px;
                margin-left: 20px;
            }

            p{
                font-size: 1.3rem;
                letter-spacing: 0px;
            }
 /* -------------------------------- */   
        .portada_info{
            width: 100%;

            h1{
                font-size: 34px;
                margin-left: 20px;
            }

            p{
                font-size: 1.3rem;
                letter-spacing: 0px;
            }
        }
        .imagen-principal{
            
            .foto_index{
                width: 100%;
                height: 400px;
                box-shadow: 0 -5px 20px  #000;
            }
        }

    }


/* ---------------------cards/index-------------------- */
    .titulo-especial h2{
        font-size: 28px;
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 0;
        padding-left: 10px;
    }

    .cards{

        .cardito{
            position: relative;
            width: 120px;
            height: 220px;
            // justify-content: center;
            
            
            .face{
                border-radius: 6px;
            }

            .front{
                
                h3{
                    font-size: 10px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 25px;
                    line-height: 25px;
                    color: #fff;
                    background-color: rgba(12, 170, 78, 0.9);
                    text-align: center;
                    /* letter-spacing: 2px; */
                }
            }
        
            .back{

                h3{

                    font-size: 10px;
                    margin-top: 10px;
                    height: 25px;
                    line-height: 15px;
                    /* letter-spacing: 2px; */
                }

                p{
                    font-size: 8px;
                    margin-top: 4px;
                    /* letter-spacing: 1px; */
                }

                .footer-card{
                    border-top: solid 1px #354B9A;
                    height: 30px;
                    line-height: 30px;

                    a{
                        font-size: 1rem;
                    
                        a:hover{
                            font-weight: bold;
                            letter-spacing: none;
                            background-color: #e5a716;
                            // padding: 1px 4px;
                            box-shadow: 0 0 8px 5px #e5a716;
                            border-radius: 500px;
                            color: #000;

                        }
                    
                    }

                }

            }
        
        
        }
    }

/* -----------ubicacion/index-------------------- */
    .ubicacion-conteiner{
        margin: 0;
        
        #ubicacion{
            display: flex;
            flex-direction: column;
            margin: 0;
            
            .googlemap{
                margin: 0;
                width: 360px;
                height: 300px;
                
            }
            
            .direccion{
                width: 100%;
                margin-left: 0;
                .parrafos{
                    font-size: 18px;
                    margin-top: 10px;
                    margin-left: 0px;
                }
            }
        }
        
    }

    .up{
        display: none;
    }

    .footer-conteiner{

        .info-footer{
            display: none;
            font-size: 10px;
        }

        .redes{
            width: 100%;
            position: relative;
            margin-left: 20px;
            justify-content: space-between;

            .iconos-redes{
                display: flex;
                flex-direction: row;
            }
            
            .bxl-instagram-alt{
                font-size: 24px;
            }

            .bxl-facebook-circle{
                font-size: 24px;
            }

            label{
                font-size: 10px;
            }
        }
    }

/* --------sobre nosotros---------------------- */
    .antiguo{
        display: block;

        img{ 
            width: 100%;
            height: auto;
            border-radius: 0;     
        }

        .antiguo-info{
            h2{
                font-size: 24px;
                text-decoration: underline;
            }

            p{
                font-size: 1.3rem;
            }
        }
    }

    .actual{
        h2{
            font-size: 24px;
            text-decoration: underline;
        }

        p{
            font-size: 1.3rem;
        }
    }
    
    .final-nosotros{
        h2{
            font-size: 24px;
        }
    }

    .carrusel{
        display: none;
    }

/* -------------Menu-------------------- */

    .titulo-menu{
        font-size: 30px;
        
    }

    .menu-carta{

        h2{
            font-size: 24px;
            margin: 0;
        }
    }

    .grilla1{

        .row{

            .col{
                display: grid;
                grid-template-columns: 240px 150px;
                align-items: start;

                span {
                    font-size: 18px;
                    align-items: flex-end;
                    margin-right: 5px;
                    color: #5f7eed;
                    font-family: amita;
                }

                p{
                    font-size: 14px;
                    margin-top: 10px;  
                }
            }
        }
    }

    .imagenes{

        .foto1 {
            display: none;
        }

        .foto2 {
            display: none;
        }

        .foto-1 {
            display: none;
        }

        .foto-2 {
            display: none;
        }
    }

    .foto4{
        display: block;
        object-fit: cover;
        overflow: hidden;
        width: 100%;
        height: 300px;

    }

    .foto5 {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-top: 50px;
    }

/* --------------galeria----------------- */
    .portada-galeria{
        h1{
            font-size: 2.5rem;
            line-height: 3.4gitrem;
        }

        p{
            font-size: 1.4rem;
            margin-left: 10px;
            color: #354B9A;
            margin-bottom: 30px;
        }
    }

    .galeria-conteiner{
        display: grid;
        grid-template-columns: 1fr;

        .columna1{

            .opinion{

                .valoracion{

                    h2{
                        font-size: 24px;
                    }
                }
            }
        }
    }


}