seccion-grilla {

    width: 100%;

    display: flex;

    height: 100vh;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    padding: 10px;

}

foto_index{
    width: 700px;
    height: 900px;
    border-bottom-left-radius: 4px;
}

.portada{
    display: flex;
    position: static;
    justify-content: space-between;
}

.portada h1{
    font-size: 80px;
    color: #3184D1;
    left: 50%;
    font-family: amita;
    text-decoration: underline 5px;
    letter-spacing: 4px;
}

.portada_info{
    width: 60%;
}

.portada_info p{
    color: #105698;
    font-size: 32px;
    letter-spacing: 2px;
}

.portada img{
    box-shadow: 0 -5px 50px  #000;   
}

/* ..............Logo Navegacion................... */
/* ..............Logo Navegacion................... */

.nav_logo {
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.titulo_logo {
    
    font-size: 35px;
    font-family: amita;
    font-weight: bolder;
    color:#3184D1;
    margin-top: 40px;
    margin-left: 0px;
}

.logo{
    display: flex;
    align-items: center;
}

/* ------------Navegacion--------------------- */

foto_index{
    width: 700px;
    height: 900px;
    border-bottom-left-radius: 4px;
}

.portada{
    display: flex;
    position: static;
    justify-content: space-between;
}

.portada h1{
    font-size: 80px;
    color: #3184D1;
    left: 50%;
    font-family: amita;
    text-decoration: underline 5px;
    letter-spacing: 4px;
}

.portada_info{
    width: 60%;
}

.portada_info p{
    color: #105698;
    font-size: 32px;
    letter-spacing: 2px;
}

.portada img{
    box-shadow: 0 -5px 50px  #000;   
}

/* ..............Logo Navegacion................... */
/* ..............Logo Navegacion................... */

.nav_logo {
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.titulo_logo {
    
    font-size: 35px;
    font-family: amita;
    font-weight: bolder;
    color:#3184D1;
    margin-top: 40px;
    margin-left: 0px;
}

.logo{
    display: flex;
    align-items: center;
}

/* ------------Navegacion--------------------- */

.navegacion{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    grid-area: header ;
    height: 120px;
    background-color: rgb(128, 250, 179);
    /* text-decoration: none; */
}

.navbarmenu ul{
    list-style-type: none;
    display: flex;
    
}

.navbarmenu ul li {
    
    background-color: #354B9A;
    color: rgb(216, 235, 171);
    margin-right: 20px;
    padding: 0px 20px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.5s;
    
}
.navbarmenu ul li a{
    text-decoration: none;
}

.navbarmenu li:hover{
    background-color: rgb(128, 250, 179);
}

.navbarmenu a{
    color: azure;   
}
.navbarmenu a:hover{
    color: #2e57b8;
}
/* ---------------------mobile navegacion--------------- */

#check_menu, .navegacion label{
    display: none;
}

.navegacion label {
    font-size: 1.8rem;
}




/* ------------------------------------------------------ */

header.cabecera, .navbar, .seccion, .seccion2, .articulo, .pie {

    padding: 10px;

    border: 1px solid;

}

 

.grid {

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 120px 40px repeat(2, 250px) 60px;
    /* row-gap: 16px; */
    /* column-gap: 5px; */
    /* gap: 16px 5px; */
    grid-template-areas:
     "header header header"
    "navbar navbar navbar"
    "seccion articulo articulo"
    "seccion seccion2 seccion2"
    "pie pie pie";
}

header.cabecera{
    grid-area: header;
}

.navbar{
    background-color: rgb(102, 185, 185);
    grid-area: navbar;

}

.navbar ul{
    background-color: rgb(122, 193, 87);
}

.seccion{
    background-color: rgb(156, 120, 240);
    grid-area: seccion;
}

.seccion2{
    background-color: rgb(155, 39, 78);
    grid-area: seccion2;
}

.articulo{
    background-color: rgb(237, 129, 129);
    grid-area: articulo;
    /* grid-row-start: 2; */
}

.pie{
    background-color: rgb(174, 212, 98);
    grid-area: pie;
}
@media (max-width: 1024px){
    header.cabecera{
        font-size:  2rem;
    }
    .grid{
        grid-template-areas:
     "header header header"
    "navbar navbar navbar"
    "seccion articulo2 articulo"
    "seccion seccion2 articulo"
    "pie pie pie";
    }
}

@media (max-width: 762px){
    .navegacion label{
        display: block;
    }
    .navbarmenu{
        display: none;
    }
    .navegacion #check_menu:checked ~ .navbarmenu{
        background-color: #3184D1;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .navbarmenu ul li{
        background-color: transparent;
        display: grid;
        text-align: left;
        }
    .navbarmenu ul{
        list-style-type: none;
        display: block;
    }   
    .navbarmenu ul li a{
        text-decoration: none;
    }
}
/* con AND podes aplicar un max y un min */